.content {
  display: flex;

  .leftContent {
    width: 201px;
    background-color: rgb(249, 249, 249);
    height: 400px;
    padding: 8px 0;

    .choiceBtn {
      height: 48px;
      width: 169px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 12px;
      margin: 0 auto;
    }

    .btnActive {
      background-color: rgb(233, 235, 237);
    }
  }

  .rightContent {
    flex: 1;
  }
}
