.layout {
  height: 100%;

  :global(.ant-layout-header) {
    padding: 0 20px;
    height: 80px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon {
      cursor: pointer;
    }

    .searchBar {
      :global(.ant-input::placeholder) {
        color: #999;
      }

      input {
        color: #fff;
      }
    }

    .rightIcons {
      display: flex;
      gap: 15px;
      align-items: center;

      :global(.anticon) {
        font-size: 18px;
        cursor: pointer;
      }
    }
  }

  .container {
    box-sizing: border-box;
    padding: 16px 30px;
    height: calc(100vh - 80px);
    overflow: auto;
  }
}
